{% extends 'admin/base_site.html' %}
{% load static %}
{% load indigo %}

{% block title %}{{ title }} - Summit Blood Sample Adminstration{% endblock %}
{% block extrahead %}
<link rel="shortcut icon" href="{% indigo_static 'images/favicon.ico' %}" />
<link rel="apple-touch-icon-precomposed" href="{% indigo_static 'favicon-152.png' %}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{% indigo_static 'favicon-144.png' %}">
<style>
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Open Sans', sans-serif;
    {% comment %} color: #444444 !important; {% endcomment %}
}
#content-related{
    display:none;
}
#header, .module caption, div.breadcrumb, .breadcrumbs, #changelist-filter h2, .module  h2, input[type="submit"]{
    background-color: #444 !important;
    color: white !important;
}
{% comment %} input[type="submit"]{
    color: white;
} {% endcomment %}
.dashboard #content {
    width: 80%;
}
#content h1, .breadcrumbs{
    //display:none;
}

#admin-title{
    color: #ff5a5f !important;
}
#home-page{
    color: #ff5a5f !important;
    font-weight: 600;
    font-size: 15px;
}

.sortable.column-role{
    pointer-events: none;
}
#content-main{
    margin-top:45px;
}
#toolbar{
    background:none !important;
    border: none !important;
}

#user-tools a {
    border-bottom:none;
}
/*
thead{
    border: 1px solid #dddddd;
}
table {
  font-family: arial, sans-serif;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}*/


</style>
{% endblock %}

{% block branding %}
    <div class="head">
        <a href="{% url 'admin:auth_user_changelist' %}"><h1 id="admin-title">Blood Sample Adminstration</h1></a>
    </div>
{% endblock %}
{% block userlinks %}
    {% if site_url %}
        <a href="{% url 'Blood Sample:Home' %}" id="home-page">View site</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">Documentation</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">Change password</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">Log out</a>
{% endblock %}
