[Unit]
Description=SUMMIT Blood Samples Management
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true

User=root
WorkingDirectory=/home/cceacoo/SUMMIT-blood-samples/summit_blood_samples

ExecStart=/usr/local/bin/docker-compose -f production.yml up -d
ExecStop=/usr/local/bin/docker-compose -f production.yml down
ExecReload=/usr/local/bin/docker-compose -f production.yml down
ExecReload=/usr/local/bin/docker-compose -f production.yml up -d --build

[Install]
WantedBy=multi-user.target
