[Unit]
Description=SUMMIT Blood Samples Management
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true

User=root
WorkingDirectory=/home/cceacoo/SUMMIT-blood-samples/summit_blood_samples
Environment=ENVDIR=uat

ExecStart=/usr/local/bin/docker-compose -f production.yml -f uat.yml up -d
# We allow a greater timeout to ensure postgres can shutdown cleanly without data loss
ExecStop=/usr/local/bin/docker-compose -f production.yml -f uat.yml stop --timeout 90
ExecReload=/usr/local/bin/docker-compose -f production.yml -f uat.yml build
ExecReload=/usr/local/bin/docker-compose -f production.yml -f uat.yml up -d

[Install]
WantedBy=multi-user.target
