[Unit]
Description=SUMMIT Blood Samples Management
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true

User=root
WorkingDirectory=/home/cceacoo/SUMMIT-blood-samples/summit_blood_samples
Environment=ENVDIR=production

ExecStart=/usr/local/bin/docker-compose -f production.yml -f uat.yml up -d
ExecStop=/usr/local/bin/docker-compose -f production.yml -f uat.yml down
ExecReload=/usr/local/bin/docker-compose -f production.yml -f uat.yml build
ExecReload=/usr/local/bin/docker-compose -f production.yml -f uat.yml up -d

[Install]
WantedBy=multi-user.target
